---
layout: menu-page
title: projects
permalink: projects:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div>
    <section>
      
      <h2 id="currently">Coding</h2>
        <h4>chess.com Data Scraper</h4>
          <p> Part of a research project, I built a script in Python to collect pulbic data of different users from chess.com. The script was automatically ran once a day. The program ran on AWS Lambda with storage intergration with AWS S3.</p>
      <h4>Instagram Data Scraper Scraper</h4>
        <p>This project was another Python-based web scraper that utilized Postman to generate requests, generate an access token for Instagram users, and retrieve metadata like date, likes, and location from a given user's posts. 
      <h4>RobinHood Data Scraper Scraper</h4>
        <p>This project was a Python-based application that used Robinhood's (now defunct) API to login, make routine operations, and catalog historical data of the account such as trades performed, prices of stock, and buying and selling actions.
      <h4>Education Game in Blender</h4>
        <p> As part of my Computers for Learning/Human-Computer Interaction, I contributed towards an educational game, in which a player explores several different biomes, learning about the varying ecosystems. The process involved coding in C#, game design in Unity, and custom modeling in Blender.
        <h2 id="education">Art</h2>
        <h2 id="education">Music</h2>
              <p> As part of a Video Game Music and Design class I took for fun, I composed an original score that I retroactively named 'Respire'. Completely done in MIDI, Reason Studios.
        <audio src="/assets/Zack Wang - Respire.mp3" controls="controls">
Your browser does not support the audio element.
</audio>
    </section>
    
    <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
