---
layout: menu-page
title: resume
permalink: projects:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div>
    <section>
      
      <h2 id="currently">Coding</h2>
        <p>chess.com Data Scraper</p>
          <p> Part of a research project, I built a script in Python to collect pulbic data of different users from chess.com. The script was automatically ran once a day. The program ran on AWs Lambda with storage intergration with AWS S3</p>
      <p>Instagram Data Scraper Scraper</p>
      <p>RobinHood Data Scraper Scraper</p>
      <p>Education Game in Blender</p>
        <h2 id="education">Art</h2>
        <h2 id="education">Music</h2>
    </section>
    
    <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
