---
layout: menu-page
title: resume
permalink: resume:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div>
    <section>
      
      <h2 id="currently">Currently</h2>
        <p><code>2022-2023</code>
        <strong>Johns Hopkins School of Medicine</strong>
        M.S in Applied Health Informatics</p>
        <ul>
        <li>GPA: 4.00/4.00</li>
        <li>Relevant Coursework<ul>
        <li>Scalable Computational Bioinformatics, U.S Healthcare</li>
          <li>Contributor of the Khieron cohort, open-source development community of OHDSI (read more here)</li>
        </ul>
        </li>
        </ul>
      
        <h2 id="education">Education</h2>
        <p><code>2018- 2022</code>
        <strong>University of Chicago</strong>
        B.S in Computer Science</p>
        <ul>
        <li>Dean&#39;s List, National Merit Finalist</li>
        <li>GPA: 3.74/4.00, GRE: 336/340, SAT: 1590/1600 </li>
        <li>Relevant Coursework<ul>
        <li>Machine Learning for Biomedicine, Database Systems, Data Engineering, Algorithms, Ethics of AI and Technology, Human-Computer Interaction</li>
        </ul>
        </li>
        </ul>
        <h2 id="work-experience">Work Experience</h2>
        <p><code>2022-Present</code>
        <strong>Research Assistant</strong>, Johns Hopkins Hospital </p>
        <ul>
        <li>Contributed to development and testing of the Perseus project, an open-source tool that abstracts ETL mapping processes between EHR systems (Typescript, Python, SQL)</li>
        <li>Programmatically defined COVID-19 patient cohorts for use in Infectious Disease research (SQL)
</li>
        <li>Develop a Data-Quality Dashboard that automatically runs exploratory scripts to summarize patient level data (R)
</li>
        <li>Create a custom ETL mapping myositis patient data into a Common Data Model (SQL)
</li>
        <li>Build out a documentation engine, that complies ETL scripts into a fully rendered website (Python)
</li>
        </ul>
        <p><code>2021</code>
        <strong>Data Analytics Intern</strong>, United Nations Population Fund </p>
        <ul>
        <li>Developed a qualitative data analytics procedure to extract insights from historical reports from UNFPA programs in public
        health (Python)</li>
        <li>Implemented a pilot program for an ETL process using Natural Language Processing to summarize cataloged data of
        managerial training in Agile development</li>
        <li>Created a detailed documentation of analytics methodology for future operations and knowledge management within UNFPA</li>
        <li>Generated data-driven insights and present to subject matter experts/consultants through comprehensive and understandable
        reports</li>
        <li>Proposed recommendations to Internal Management branch on future programs to implement, with goal of streamlining
        training towards results-based management</li>
        </ul>
        <p><code>2020</code>
        <strong>Software Engineering Intern</strong>, NowPow</p>
        <ul>
        <li>Collaborated with team of software engineers for Scrum-based full stack development</li>
        <li>Implemented Admin interface features and pages (JavaScript)</li>
        <li>Implemented front-end features for outpatient referral system (Vue.JS)</li>
        <li>Created unit testing for back-end programs, and maintain dependency architecture for enterprise-level web app</li>
        </ul>
        <p><code>2019-2020</code>
        <strong>Research Assistant, Clinical Data Analyst</strong>, University of Chicago Hospital</p>
        <ul>
        <li>Collaborated with doctors and surgeons to develop solutions to improve patient data collection and streamline in-patient
        treatment</li>
        <li>Created informational guides to help patients integrate within the hospital’s electronic health system</li>
        <li>Developed an ETL process for patient medical information to evaluate surgical performance (Python)</li>
        <li>Coded medical professional feedback of electronic health system to categorize complaints and prioritize fixes</li>
        <li>Processed and contributed to research database of leukemia-related cases, to enhance usability for future studies utilizing the
        database</li>
        </ul>
        <h2 id="additional-info">Additional Info</h2>
        <ul>
        <li><strong>Coding</strong>: Proficient in Python, C, Rust. Some experience with SQL, C#, JavaScript, R</li>
        <li><strong>Projects</strong>: AWS-hosted chess.com data scraper (Python), RobinHood data scraper (Python), Roomba 3D simulation (Python),
        Q-Learning Robot (Python), Educational Video Game (C#)</li>
        <li><strong>Community and Leadership</strong>: UChicago Office of Special Programs (Educator), Glen Ellyn Children’s Resource Center
        (Volunteer Tutor), UChicago Wind Ensemble (Section Leader), Glenbard West Marching Band (Drumline Captain)</li>
        <li><strong>Interests</strong>: Chess, digital illustration. music composition, video game design</li>
        <li><strong>Languages</strong>: Proficient in Mandarin, Conversational in Spanish</li>
      </ul>
    </section>
    
    <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
